<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet", href="/static/dev_index.css">
<title>Login page</title>
</head>
<body style="background-color: #e2b73f">
    <div class="text-center" style="margin: 20% 25%;">
       <h3> Account already exists </h3>
       <a href="{% url 'index' %}"><button class="btn btn-success">Goto Home</button></a>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>